{{ define "main" -}}

<h2>Hi!</h2>

{{ $prev := 3000 }}
{{ range .Site.RegularPages -}}
{{ if ne .Layout "page"}}
	{{ if gt $prev (.Date.Format "2006") }}
	{{ if ne $prev 3000 }}
		</ul>
		<hr>
	{{ end }}
		<h2 class="category-date"> {{ .Date.Format "2006" }}</h2>
		<ul class="post-list">
	{{ end }}
		<li class="post-list-item">
			<a href="{{ .Permalink }}">
				{{ .Title }}    <span class="post-list-date">{{ .Date.Format "02 Jan" }}</span>
			</a>
		</li>
	{{ $prev = .Date.Format "2006" }}
	{{ end }}
{{ end }}
{{- end }}
