<!-- prj -->
<div class="row">
    <div class="col-md-4 col-12">
        <img class="img-respnsive" src="{{ .Get "img" }}" alt="project name" style="height:200px">
    </div>
    <div class="col-md-8 col-12">
        <h4>
            {{ .Get "title" }}
        </h4>
        <p class="mb-2">
            {{ .Get "desc" }}
            {{ if .Get "docs" }}
            <a class="btn btn-outline-success" href="{{ .Get "docs" }}" role="button">
                <i class="fas fa-external-link-alt"></i> Find out more
            </a>
            {{ end }}
            {{ if .Get "code" }}
            <a class="btn btn-outline-success" href="{{ .Get "code" }}" role="button">
                <i class="fa fa-code"></i> Code
            </a>
            {{ end }}    
        </p>
    </div>
</div>