<!--pub-->
{{ if .IsNamedParams }}
    <p>
     <img src="../../img/ppr/{{ .Get "type" }}.png" height="20px" style="float:left;">
    {{ if .Get "award" }}
    <img src="../../img/ppr/award.png" height="25px" style="float:left;padding-left: 2px;">
    {{ end }}
    {{ if .Get "mention" }}
    <img src="../../img/ppr/mention.png" height="25px" style="float:left; padding-left: 2px;">
    {{ end }}
    &nbsp;
    {{ .Get "authors" }}. <em>{{ .Get "title" }}</em>, {{ .Get "info" }}.
    {{ if .Get "award" }}
    <span style="color:red">It received the {{ .Get "award" }}</span> 
    {{ end }}
    {{ if .Get "mention" }}
    <span style="color:red">It received the  {{ .Get "mention" }}</span> 
    {{ end }}
    {{ if .Get "pdf" }}
    <a class="btn btn-outline-danger" href="{{ .Get "pdf" }}" role="button">
        <i class="fa fa-file-pdf"></i> PDF
    </a>
    {{ end }}
    {{ if .Get "code" }}
    <a class="btn btn-outline-success" href="{{ .Get "code" }}" role="button">
        <i class="fa fa-code"></i> Code
    </a>
    {{ end }}
    {{ if .Get "poster" }}
    <a class="btn btn-outline-dark" href="{{ .Get "poster" }}" role="button">
        <i class="fa fa-image"></i> Poster
    </a>
    {{ end }}
    </p>
{{ end }}
